@font-face {
    font-family: 'DM Sans';
    src: url(assets/fonts/DMSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'DMS Sans';
    src: url(assets/fonts/DMSans-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'DMS Sans';
    src: url(assets/fonts/DMSans-Bold.ttf);
    font-weight: 700;
}


.site-wrapper {
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: table;
    height: auto;
    background-attachment: fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
}

.start-page-left {
    margin-top: 255px;
    margin-left: 310px;
    position: absolute;
}

.greeting {
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -2.4px;
    margin-bottom: 5px;
}

.today {
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -1.8px;
    margin-top: 5px;
    margin-bottom: 64px
}

.search_div {
    border-radius: 10px; 
    background-color: #FFF;
    opacity: .70;
    width: 493px;
    height: 60px;
    display: flex;
}

.search_div img {
    display:inline-block;
    padding-top: 16.5px;
    padding-left: 16.5px;
    padding-right: 16.5px;
}

.search_input {
    display:inline-block;
    outline: none;
    border: none;
    color: #000;
    font-family: 'DM Sans';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.2px;
    width: 385px;
}

.bg_credit {
    background-color: #FFF;
    margin-top: 160px;
    width: 194px;
    height: 80px; 
    border-radius: 10px; 
    opacity: .70;
}

.bg_credit p {
    padding-top: 13px;
    padding-left: 18px;
    color: #000;
    font-family: 'DM Sans';
    font-size: 13px;
    font-weight: 400;
    width: 143px; 
    margin-bottom: 3px;
}

.bg_credit .place {
    width: 162px;
    margin-top: 0px;
    padding-top: 0px;
}

.bg_credit img {
    margin-top: 3px;
}

.start-page-right {
    margin-left: 0px;
}

.weather_div {
    width: 492px;
    height: 143px; 
    margin-left: 290px;
}

#weather-icon {
    position: absolute;
    right: 550px;
    margin-top: 135px;
    font-size: 120px;
    z-index: 1;
}
.weather-display {
    opacity: .70;
    position: absolute;
    margin-top: 145px;
    right: 170px;
    border-radius: 15px; 
    width: 344px;
    height: 143px;
    background-color: #FFF; 
}

#temp {
    color: #000;
    font-family: 'DM Sans';
    font-size: 36px;
    font-weight: 800;
    letter-spacing: -1.8px;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
}

#location {
    color: #000;
    font-family: 'DM Sans';
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1px; 
    margin-left: 30px;
    margin-top: 70px;
}

.bookmarks {
    opacity: .70;
    position: absolute;
    width: 655px;
    height: auto; 
    right: 170px;
    border-radius: 20px;
    background: #FFF;
    margin-top: 450px;
    top: 0px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.category {
    display: flex;
    flex-direction: column;
    width: 192px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    font-size: 24px;
}

li {
    color: #000;
    font-size: 20px;
    list-style-type: none;
    padding: 5px;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    color: #000;
}

@media screen and (max-width: 1630px) {
    .bookmarks {
        margin-top: 600px;
    }
    .bg_credit {
        display: none;
    }

}

@media screen and (max-width: 1100px) {
    .site-wrapper {
        background-position: center center;
        height: auto;
    }
    .start-page-left {
        margin-left: 45px;
        position: absolute;
        margin-top: 170px;
    }

    .greeting {
        font-size: 36px;
        font-weight: 600;
        letter-spacing: -1.8px; 
    }

    .today {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: -1.2px;
    }

    .search_div {
        border-radius: 10px; 
        width: 330px;
        height: 49px; 
        align-content: center;
    }
    .search_div img {
        width: 19px;
        height: 19px; 
    }
    .search_input {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -1px;
        width: 250px;
    }
    .bg_credit {
        display: none;
        position: absolute;
        margin-top: 500px;
        width: 251px;
        height: 38px; 
        margin-bottom: 30px;
    }
    .bg_credit p {
        padding-top: 3px;
        padding-left: 13px;
        font-size: 11px;
        font-weight: 400; 
        width: 230px; 
        margin-bottom: 3px;
    }
    .start-page-right {
        margin-left: 0;

    }
    .bg_credit img {
        margin-top: 1px;
    }
    .weather_div {
        width: auto;
        height: auto;
        margin-left: 0px;
    }
    .weather-display {
        position: absolute;
        border-radius: 15px; 
        width: 144px;
        height: 71px; 
        border-radius: 15px 0px 0px 15px;
        right: 0px;
        margin-top: 60px; 
    }
    #weather-icon {
        margin-top: 60px;
        font-size: 64px; 
        z-index: 1;
        text-align: center;
        right: 0px;
        bottom: 0px;
        left: 0px;
        top: 0px;
    }
    #temp {
        color: #000;
        font-family: 'DM Sans';
        font-weight: 800;
        letter-spacing: -1.6px; 
        position: absolute;
        margin-top: 20px;
        margin-left: 30px;
        font-size: 32px;
    }
    #location {
        display: none;
    }
    .bookmarks {
        margin-top: 450px;
        width: 537px;  
        height: auto; 
        left: 0px;
        right: 0px;
        margin-bottom: 45px;
        margin-left: auto;
        margin-right: auto;
    }
    .category {
        display: flex;
        flex-direction: column;
        width: 150px;
    }
    .title {
        font-size: 20px;
    }
    li {
        font-size: 16px;
    }
 }

 @media screen and (max-width: 750px) {

    .start-page-left {
        margin-left: 0px;
        position: absolute;
        margin-top: 170px;
    }

    .bookmarks {
        margin-left: 45px;
        margin-top: 450px;
        width: 330px; 
        height: auto; 
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .search_div {
        border-radius: 10px; 
        width: 330px;
        height: 49px; 
        align-content: center;
    }
    .search_div img {
        width: 19px;
        height: 19px; 
    }
    .search_input {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -1px;
        width: 250px;
    }
 }